@tailwind base;
@tailwind components;
@tailwind utilities;

/* Puedes agregar aquí estilos globales personalizados */

html {
  scroll-padding-top: 80px; /* Cambia 80px por la altura de tu header sticky */
}
body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #f9fafb;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
